HAL_PORTAL=index
HAL_QUERY=labStructId_i:394361
HAL_PAGINATION=10000
DEFAULT_NB_RESULTS=5
RETRIEVE_MIN_YEAR=2010
RETRIEVE_TOP=1000
RETRIEVE_THRESHOLD=0.2
NB_PHRASES=1
RANK_METRIC=log-mean
USE_ABSTRACT=true
USE_TITLE=true
USE_SUBTITLE=false
USE_KEYWORDS=false
